Original/*
RawInputs/*
Seasonal/Inputs/*
Annual/Inputs/*
Annual/Figures/*
Annual/Outputs/*
Seasonal/Figures/*
Seasonal/Outputs/*
.history
*.history
Figures/*
Post-Processing/Figures/*
Post-Processing/Inputs/*
2015_03/*

*.Rdata

*.csv

*.pdf

*.log

*.o6*
*.pdf

Post-Processing/Scripts/.Rhistory
